/*Para crear nuestra seccion de destacados similar a la que tenemos como ejemplo en el archivo prototipo.pdf, primeramente tenemos que definirlo como grid y vamos a definir también cuántas columnas y cuantas filas tiene. */

.destaques {

    display: grid;
    /*necesito definir 4 columnas y que todas tengan las mismas proporciones; */
    grid-template-columns: 25% 25% 25% 25%;
    /*lo mismo ocurre con las filas; */
    grid-template-rows: 33.33% 33.33% 33.33%;
    /*Ahora bien, yo necesito que mi seccion de destaque ocupe el 100% de la pantalla. Ya habíamos definido el header con 50 pixeles, la parte de sección de contenidos era el 100% de mi pantalla, y el rodapié que estaba en modo automático, entonces ahora yo quiero que la parte destacada me cubra el 100% de la pantalla, esto lo consigo aplicando la propiedad; */
    height: calc(100vh - 50px); /*en este caso vamos a colocar una altura a la sección de destaque que calcule el 100% de la pantalla, de nuestro navegador teniendo en cuenta que la misma debe comenzar a partir de de la altura asignada a nuestro encabezado.*/

}

/*Ahora hay que colocar y posicionar nuestros elementos para que se aproxime lo más posible a nuestro prototipo. 

Si revisamos nuestro HTML, en nuestra seccion de destaque en donde cada imagen esta definida por una seccion principal y unas secciones secundarias, con areas 1, 2, 3 , 4 y luego la seccion de categorías.

Para comenzar a definir nuestra imagen pricipal, debemos identificar su clase correspondiente a la cual le vamos aplicar las propiedades grid. */

.destaques__principal {
    /*nuestra imagen principal debe ocupar tres columnas  y dos filas, esto se consigue aplicando la propiedad; */
    background: url('../img/fortnite.jpg'); /*esta propiedad me permite agregar una imagen como fondo de mi elemento*/
    background-size: cover; /*con esta propiedad puedo hacer que mi imagen de background ocupe todo el espacio que le corresponde*/
    background-position: center; /*me permite centrar mi imagen de background*/
    background-repeat: no-repeat; /*en los casos en los que el tamaño de la imagen sea menor a la del contenedor esta comenzara a repetirse, esto lo podemos evitar aplicando esta propiedad.*/
    /*es necesario definir la cantidad de columnas que queremos que nuestro contenedor ocupe; */
    grid-column-start: 1;/*me permite definir en que columna comienza dicho contenedor.*/
    grid-column-end: 4; /*me permite definir en que columna va terminar.*/
    
    /*Del mismo modo es necesario definir la cantidad de lineas que queremos que ocupe nuestro contenedor;*/
    grid-row-start: 1; /*me permite definir en que linea va comenzar mi contenedor.*/
    grid-row-end: 3; /*me permite definir en que linea va a terminar.*/

}

/*Ahora nos encontramos con una dificultad, tenemos varias imagenes bajo una misma clase, una primera opcion para resolver esto es renombrar las clases, lo cual ademas de ser tedioso aumenta el volumen de nuestro codigo, otra opcion es utilizar la propiedad 'nth-child()' para identificarlas segun su indice; */
.destaques__secundario:nth-child(2) {
    /*Para evitar repetir mucho código y con la intención de intentar reducir la cantidad de líneas de código convirtiéndolas en atajos o reduciendo el código en una o dos líneas se recomienda utilizar buenas practicas como las que vamos a ver a continuacion, en solo tres lineas resolvimos lo que antes nos demando 8; */
    background: url('../img/pubg.jpg') center /cover no-repeat;
    grid-column: 4 / 4;
    grid-row: 1 / 2;

}

.destaques__secundario:nth-child(3) {
    background: url('../img/slack.png') center / cover no-repeat;
    grid-column: 4 / 4;
    grid-row: 2/3;
}

.destaques__secundario:nth-child(4) {
    background: url('../img/whatsapp.png') center / cover no-repeat;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.destaques__secundario:nth-child(5) {
    background: url('../img/cs-go.jpg') center / cover no-repeat;
    grid-column: 3 / 4;
    grid-row: 3 /4;
}