/*En esta parte vamos a trabajar la sección de populares que se encuentra debajo de la parte destacados. Esta se encuentra dividida en cinco columnas y en cuatro secciones: aplicaciones populares, juegos populares, en destaques y novedades, cada una tiene su imagen, tiene su título, la fecha de lanzamiento y una descripción breve de lo que sería la aplicación o el juego por tal motivo sera necesario trabajar una grid dentro de otra grid. */

/*En primer lugar tenemos que enlazar nuestro archivo CSS con el HTML para poder apreciar los style que apliquemos a continuacion. */

.populares {
    padding: 3rem 2rem;

}

.populares__card {
    background:#fdfdfd;
    /*necesitamos que nuestro contenedor se comporte como una grid, esto lo conseguimos aplicando la propiedad; */
    display: grid; /*proporciona una cuadrícula de una sola columna, por lo que tus elementos continúan mostrándose uno debajo del otro, como lo hacen en el flujo normal. A diferencia de Flexbox (el orden de los flex items es automatico), para ver algo que se parezca más a una cuadrícula, necesitamos añadir columnas a la cuadrícula.*/

    /*ahora definimos dos areas; una para la imagen y otra para el contenido; */
    grid-template-areas: 
    "card-imagen"
    "card-base"; /*esta propiedad me permite especificar las ubicaciones dentro de la grid que van a tener nuestras areas, dicha accion me va a permitir poder distribuir (ordenar) las posiciones dentro de la misma, podemos utilizar el nombre de nuestros elementos o en tal caso el de la clase que les otorgamos. De este modo podemos comprender exactamente que representa cada area, su ubicacion exacta dentro de nuestra grid. Entonces luego de nombrar dentro de nuestro CSS las areas que representan a cada uno de nuestos elementos del index, dentro de nuestro grid container podemos asignar las posiciones.*/
    grid-template-columns: 100%; /*definimos el ancho de nuestra columna*/
    grid-template-rows: 173px auto;
    margin-right: 1rem;
    width: calc(20% - 1rem);
}

.populares__card___imagen {
    grid-area: card-imagen; /*esta propiedad me permite definir mi elemento (grid-item) como una grid-area para luego a traves de la misma poder posicionarla dentro del grid container. */
    height: 100%; /*defino el alto de mi area*/
    width: 100%; /*defino el ancho de mi area*/
}

/*hacemos lo mismo con los demas elementos la seccion populares; */
.populares__card___base {
    /*definimos la grid que va contener nuestro contenido con su correspondiente titulo: */
    grid-area: card-base; /*defino mi elemento como un grid-area. */
    /*esta area tambien va a funcionar como una grid, es por ello que es necesario aplicar la propiedad; */
    display: grid;
    grid-row-gap: .5rem; /*me permite difinir un espaciamiento entre cada grid*/
    grid-template-areas:
    "card-header"
    "card-descripcion"; /*me permite definir el orden en el que queremos ubicar nuestros grid-items. */
    grid-template-rows: 50px auto; /*me permite definir las dimensiones de las filas, la primera va tener un */
    padding: .75rem;
}

.populares__card___descripcion {
    display: flex;
    flex-wrap: wrap;
    grid-area: card-descripcion;
    padding: 1rem 0rem;
}

.populares__contenido {
    display: flex;
    flex-wrap: wrap;
    grid-area: contenido;
    padding: 1rem 0rem;
    border-top: 1px solid #dcdcdc;
    
}

.populares__card___titulo {
    /*modifico color del titulo correspondiente a la clase al igual que el tamaño de la fuente:*/
    color: #333333;
    font-size: 1.3rem;
}

.populares__card___data {
    /*modifico color y tamaño de fuente de la clase correspondiente.*/
    color: #808080;
    font-size: .9rem;
}

.populares__card___descripcion {
    color: #333333;
    line-height: 1.5; /*aumento el tamaño del interlineado de texto (espacio entre lineas)*/
    margin: 1rem 0;
    text-align: justify; /*La propiedad text-align define cuatro valores para alinear los contenidos; a la izquierda ( left ), a la derecha ( right ), centrados ( center ) o justificados ( justify ).*/
}

.populares__titulo {
    font-weight: 500; /*La propiedad font-weight de CSS especifica el peso o grueso de la letra. Algunos tipos de letra sólo están disponibles en normal y bold .*/
}

.populares__icon {
    margin-right: .25rem;
}

.populares__boton {
    /*trabajo en el stylo de mis botones para filtrar info:*/
    background: transparent;
    border: none;
    color: #333333;
}

.populares__card:last-child {
    margin-right: 0; /*quito el margen derecho definido de forma general para mi ultima columna*/
}

